{% extends 'base.html.twig' %}

{% block title %}SEN IT TECHNOLOGY - Accueil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset("css/cover.css")}}">
{% endblock %}

{% block body %}
<div style="background:url({{asset('images/fond-banniere.jpg')}}) no-repeat center;height:680px;background-size:cover;">
  {% include ("home/partials/__header.html.twig")%}
  <div class="container " style="padding-top:70px">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="">
        <h1 class="text-center text-white text-uppercase ">Simplifiez-vous la vie avec sen it TECHNOLOGY <br> <small class="text-lowercase">Le numérique autrement</small> </h1>
        <p class="text-center m-4 text-white">SEN IT TECHNOLOGY ,une entreprise délivrant des services informatiques et digitaux.</p>
      </div>
      <div class="">
        <a href="" class="btn btn-primary btn-md">Visiter notre Boutique <i class='fas fa-angle-right'></i></a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4 marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    {% for service in  FirstThreeService %}

    <div class="col-lg-4">
      <img class="rounded-circle " src="{{asset('images/')}}{{service.images}}" alt="{{service.services}}" width="140" height="140">
      <a href="{{path('animation',{'slug':service.slug})}}"><h2>{{service.services}} <span class="text-muted">{{service.textMuted}}</span> </h2></a>
      <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

    </div>
    {% endfor %}

  </div><!-- /.row -->
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" data-aos="fade-right" data-aos-duration="3000">
      <a href="{{path('animation',{'slug':'marketing-digital'})}}"><h2 class="featurette-heading">Marketing <span class="text-muted">digital</span></h2></a>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5" data-aos="fade-left" data-aos-duration="1000">
      <img class="featurette-image img-fluid" src="{{asset("images/marketing-digital.jpg")}}" alt="Marketing digital">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2" data-aos="fade-right" data-aos-duration="3000">
      <a href="{{path('animation',{'slug':'vente-de-materiel-informatique'})}}"><h2 class="featurette-heading">Vente de <span class="text-muted">matériels informatiques</span></h2></a>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1" data-aos="fade-left" data-aos-duration="3000">
      <img class="featurette-image img-fluid mx-auto" src="{{asset("images/vente-de-materiel-informatique.jpg")}}" alt="Vente de matériels informatiques">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" data-aos="fade-right" data-aos-duration="3000">
      <a href="{{path('animation',{'slug':'formation-acceleree'})}}"><h2 class="featurette-heading">Formation <span class="text-muted">accélérée</span></h2></a>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5" data-aos="fade-left" data-aos-duration="3000">
      <img class="featurette-image img-fluid mx-auto" src="{{asset('images/formation-acceleree.jpg')}}" alt="Formation accélerée">
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
<div class="container">
  <div class="bg-dark d-flex justify-content-center align-items-center p-4">
    <button class="btn btn-md btn-dark border-white">Visiter notre Boutique <i class='fas fa-angle-right'></i></button>
  </div>

</div>
<footer>
{% include ("home/partials/__footer.html.twig")%}
</footer>
{% endblock %}
