<footer class="pt-4 pl-4 pr-4 pb-4 my-md-5 bg-light  pt-md-5 border-top" >
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2"  width="150" height="150" src="{{asset("images/logo.png")}}" alt="Logo"> </a>
      <small class="d-block mb-3 text-muted">&copy;2020</small>
      <small class="d-block mb-3 text-muted">developed & designed by SEN IT TECHNOLOGY</small>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">Domaines d'expertise</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{path('animation',{'slug':'animation-3d'})}}">Animation 3D</a></li>
        <li><a class="text-muted" href="{{path('animation',{'slug':'developpement-web-et-application-mobile'})}}">Développement web et application mobile</a></li>
        <li><a class="text-muted" href="{{path('animation',{'slug':'vente-de-materiel-informatique'})}}">Vente de matériels informatiques</li>
        <li><a class="text-muted" href="{{path('animation',{'slug':'formation-acceleree'})}}">Formation accélérée</a></li>
        <li><a class="text-muted" href="{{path('animation',{'slug':'marketing-digital'})}}">Marketing digital</a></li>
        <li><a class="text-muted" href="{{path('animation',{'slug':'design-graphique'})}}">Design graphique</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">A propos / Contact</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{path('apropos')}}">Qui sommes-nous?</a></li>
        <li><a class="text-muted" href="{{path('contact')}}">Contact</a></li>
        <li><a class="text-muted" href="#">+221 77-111-11-22</a></li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">Réseaux sociaux</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://web.facebook.com/senittechnology"><i class='fab fa-facebook' style='font-size:36px'></i></a></li>
        <li><a class="text-muted" href="#"> <i class='fab fa-whatsapp' style='font-size:36px'></i> +221 77-111-11-22</a></li>
      </ul>
    </div>
  </div>
</footer>
